

.none_padding_tr td,a,p{
    padding: 0;
    margin: 0;
}

.down_pyramid{
    display: flex;
    justify-content: space-around;
}

.title_search{
    margin: 0;
}

.padding_button button {
    margin: 3px;
}

.none_margin_tr h3,h6{
    margin-top: 0;
}

.text_center{
    text-align: center;
}

.mini_table td{
    width: 180px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}


